.appContainer {
    height: 100%;
    width: 100%;
    padding-top: 3rem;

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 3rem;

        img.heading {
            height: auto;
            max-width: 40%;
        }

        img.plane {
            height: auto;
            max-width: 10%;
        }
    }

    .airport {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}